
section.order-information {
    h3 {
        font-size: 1em;
    }

    .payment {
        float:left;
        width: 40%;
        margin-top: 5mm;
    }
    .shipping {
        float:left;
        width: 40%;
        margin-top: 5mm;
    }
    .shipping-address {
        display: none;
    }
}



